[Desktop Entry]
Encoding=UTF-8
Name=Link to PIC32MZ EMBEDDED CONNECTIVITY WITH FPU (EF) STARTER KIT (CRYPTO) | Microchip Technology
Type=Link
URL=https://www.microchip.com/en-us/development-tool/dm320007-c
Icon=text-html
